<div class="bg-light p-5 text-center">
    <h5>Created by JeihnChoe</h5>
    <p><h6>☎ 051-921-1000</h6></p>
    <button class="btn btn-outline-primary">고객센터</button>
    <button class="btn btn-outline-success">오시는길</button>
</div>

</body>
</html>
